
.container

{
    
display: flex;
justify-content: center;
align-content: center;
align-items: center;
margin-top:15%;

}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

#card1

{

    background-color: rgba(7, 7, 7, 0.76);
    border: none;
}
@media only screen and (max-width: 767px) {
    .card h1 {
  
    font-size: 20px;
    }

}
